# IDE / Editor
.idea
.vscode

# Python
.venv
.conda
__pycache__
.mypy_cache
.ipynb_checkpoints

# OS
.DS_Store

# Environment & secrets
**/.env

# Project-specific ignores
**/python/test/**
llm/resources
